@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body {
    background: rgb(20, 20, 20);
    overflow: hidden;
    font-family: "Roboto";
    margin: 40% 0 0 0;
    position: relative;
}
body::after {
    content: "";
    position: fixed;
    top: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(180deg, rgba(20, 20, 20, 1) 60%, rgba(20, 20, 20, 0) 100%);
}

audio {
    position: absolute;
    top: -55%;
    left: 2%;
    z-index: 1;
    filter: sepia(20%) saturate(70%) grayscale(1) contrast(99%) invert(12%);
    width: 250px;
    height: 25px;
    

}
.wrapper {
    display: flex;
    height: 100%;
    width: 70%;
    margin: 0 auto;
    perspective: 500px;
}
.scroll_text {
    color: #ffc909;
    font-size: 3vw;
    line-height: 1.5em;
    font-weight: bold;
    text-align: justify;
    position: relative;
    animation: scroll 30s linear infinite backwards;

}
h1, h2 {
    text-align: center;
}
@keyframes scroll {
    from { top: 100px; transform: translateZ(200px) rotateX(25deg);}
    to { top:-4500px; transform: translateZ(-1500px) rotateX(27deg);}
}